*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);

    --vb-yellow: hsl(52, 100%, 62%);


    --pl-white: hsl(0, 0%, 100%);

    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);

    --dk-text: hsl(198, 20%, 13%);
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

.container{
    width: 90%;
    max-width: 450px;
}
h1{
    color: var(--pl-white);
    opacity: 0.75;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}


.display-container{
    position: relative;
    display: flex;
    height: 70px;
    min-width: 450px;
    justify-content: space-evenly;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
 
}
.copyspan{
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 300ms ease-in-out;
}

.copyspan.active{
    opacity: 1;
    transform:scale(1);
}
.display{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    border: none;
    letter-spacing: 1px;
    padding-right: 3.25rem;
}

input::placeholder{
    position: absolute;
    left: 1.5rem;
    top: 1.01rem;
    font-weight: bolder;
    line-height: 30px;
    color: var(--vb-yellow);
    opacity: 0.78;
    text-transform: uppercase;
}

.display-container button{
    color: rgb(124, 2, 155);
    position: absolute;
    right: 2rem;
    top: 1.4rem;  
}

.input-container{
    background-color: var(--dk-violet);
    min-width: 450px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    padding : 10px 15px 20px 25px;
    color: var(--pl-white);
    font-size: x-large;
    font-weight: 500;/
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.length-container p:nth-child(1){
    color: var(--pl-white);
    font-size: 2rem;
    margin-top: 1rem;
}
.length-container p:nth-child(2){
    margin-top: 1.7rem;
    color: var(--vb-yellow);
    font-size: 2rem;
}

.slider {
    appearance: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: none;
    outline: none;
    height: 0.75rem;
    cursor: pointer;
    background: var(--lt-violet);
    border-radius: 1rem;
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    
}
.slider:focus {
    outline: none;
    outline: 3px solid var(--vb-yellow);
}
.slider {
    -webkit-appearance: none;
    appearance: none;
}

/* Thumb */
.slider::-webkit-slider-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    height: 30px;   
    width: 30px;
    border-radius: 50%;
    background: #eaea05; 
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgb(225,229,61,0.5);
    transition: all 100ms ease-in;
}
.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgb(255,229,61,0.8);
}
.slider::-moz-range-thumb {
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    height: 30px;   
    width: 30px;
    border-radius: 50%;
    background: #eaea05; 
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgb(225,229,61,0.5);
    transition: all 100ms ease-in;
}
.slider::-moz-range-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgb(255,229,61,0.8);
}
.check{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.check input{
    position: relative;
    border:1px solid var(--vb-cyan);
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 0.35rem;
}
.check input:checked::after{
    position: absolute;
    content: '✔';
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    top: -3.5px;
}

/* pending checkbox */
.check input:checked{
    background-color: var(--vb-cyan);
    background: '✔';
}

.strength{
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    align-items: center;
}
.indicator{
    height: 26px;
    width: 26px;
    border-radius: 100%;
    background-color: rgb(237, 218, 218);
    box-shadow: 0px 0px 20px;
    transition: all 250ms ease-in-out;
}


.generatebtn{
    
    margin: 25px 0px 20px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--vb-violet);
    color: var(--vb-yellow);
    height: 65px;
    border-bottom: 0.35rem solid var(--vb-yellow);
    border-radius: 0.75rem;
}

